@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Background */
.background-d1fe0dfdc543 {
  position: relative;
  width: 1920px;
  height: 2069px;
  overflow: hidden;
  z-index: 0;
}

/* The Story so far... */
.the-story-d1fe0dfe3476 {
  position: absolute;
  left: 716.5px;
  top: 162px;
  width: 487px;
  height: 87px;
}
.the-story-d1fe0dfe3476 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.the-story-d1fe0dfe3476 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.the-story-d1fe0dfe3476 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.the-story-d1fe0dfe3476 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 72px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Campaign BG */
.campaign-b-d1fe0dfe3471 {
  position: absolute;
  left: 400px;
  top: 416px;
  width: 1120px;
  height: 1440px;
}

/* On the southern fringes of the great Taisein Empire lies the wealthy and prosperous Grand Duchy of Leighann. Ruled over by the beloved Grand Duke Wymarc the nation has maintained its power and prestige within the empire under his steady, cautious hand.

The Grand Duke, however, i */
.on-the-sou-d1fe0dfe347a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1120px;
  height: 1440px;
}
.on-the-sou-d1fe0dfe347a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-5-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-6-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-7-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-8-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-9-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-9-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-10-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-11-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-12 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-12-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-13 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-13-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-14 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-14-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-14-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-15 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-d1fe0dfe347a .root-0-paragraph-set-0-paragraph-15-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* knights-canyon-challenge-dragon-digital-painting */
.knightsca-d1fe0dfe3470 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1152px;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Rectangle */
.rectangle-d1fe0dfe3478 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1152px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}

/* knights-canyon-challenge-dragon-digital-painting */
.knightsca-d1fe0dfe3477 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1152px;
  background: url("../images/knights-canyon-challenge-dragon-digital-painting.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }

  @font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf") format('woff');
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Background */
.background-0bfeb81b08a9 {
  position: relative;
  width: 414px;
  height: 1272px;
  overflow: hidden;
  z-index: 0;
}

/* Campaign BG */
.campaign-b-0bff48afaf90 {
  position: absolute;
  left: 60px;
  top: 125px;
  width: 294px;
  height: 1077px;
}

/* On the southern fringes of the great Taisein Empire lies the wealthy and prosperous Grand Duchy of Leighann. Ruled over by the beloved Grand Duke Wymarc the nation has maintained its power and prestige within the empire under his steady, cautious hand.

The Grand Duke, however, i */
.on-the-sou-0bff48afaf91 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 294px;
  height: 1077px;
}
.on-the-sou-0bff48afaf91 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-7-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-9-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-10-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-11-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-12 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-12-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-13 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-13-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-14 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-14-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-15 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-15-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-16 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-16-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-17 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-17-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-18 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.on-the-sou-0bff48afaf91 .root-0-paragraph-set-0-paragraph-18-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* The Story so far... */
.the-story-0bff48afaf92 {
  position: absolute;
  left: 125.5px;
  top: 64px;
  width: 163px;
  height: 29px;
}
.the-story-0bff48afaf92 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.the-story-0bff48afaf92 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.the-story-0bff48afaf92 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.the-story-0bff48afaf92 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* knights-canyon-challenge-dragon-digital-painting */
.knightsca-0bff48afaf8d {
  position: absolute;
  left: -415px;
  top: 0px;
  width: 1493.33px;
  height: 896px;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Rectangle */
.rectangle-0bff48afaf8f {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

/* knights-canyon-challenge-dragon-digital-painting */
.knightsca-0bff48afaf8e {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1493.33px;
  height: 100%;
  background: url("../images/knights-canyon-challenge-dragon-digital-painting.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}
}
