<!-- frame: Navbar -->
<div class="frame navbar-d5c01837fe35">
  <!-- text: Notes -->
  <div class="shape text notes-d5c01837fe3b">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe3b" data-x="1570.5" data-y="343.5">
      <a href="/udrone/templates/notes.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Notes</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- text: Timeline -->
  <div class="shape text timeline-d5c01837fe3a">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe3a" data-x="1444.5" data-y="343.5">
      <a href="/udrone/templates/timeline.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Timeline</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- text: Characters -->
  <div class="shape text characters-d5c01837fe39">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe39" data-x="1305.5" data-y="343.5">
      <a href="/udrone/templates/characters.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Characters</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- text: Locations -->
  <div class="shape text locations-d5c01837fe38">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe38" data-x="1174.5" data-y="343.5">
      <a href="/udrone/templates/locations.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Locations</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- text: Background -->
  <div class="shape text background-d5c01837fe37">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe37" data-x="1027.5" data-y="343.5">
      <a href="/udrone/templates/background.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Background</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- text: Home -->
  <div class="shape text home-d5c01837fe36">
    <div class="text-node-html" id="html-text-node-1bd71213-77ed-8026-8004-d5c01837fe36" data-x="921.5" data-y="343.5">
      <a href="/udrone/index.html" style="text-decoration:none;">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:custom-0ff0f2cb-dfbb-800a-8004-b1ae7aa8db9f;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0.6px;font-size:18px;font-family:&quot;Goudy Mediaeval&quot;;font-style:normal;font-weight:400">Home</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
